---
  export interface Props {
    torrentFile: string
    torrentName: string
  }

  const { torrentFile, torrentName } = Astro.props
---

<div>
  <a href={`data:text/plain;charset=utf-8,${encodeURIComponent(torrentFile)}`} download={`${torrentName}.torrent`}> {torrentName} </a>
</div>
