---
  // import { encodeTorrentFile } from './lib/parse-torrent.js'
  // import Torrent from './Torrent.astro'

//   import { getRuntime } from '@astrojs/cloudflare/runtime'

// getRuntime(Astro.request)

---
<ul>
	<!-- {
    torrentList.map(({key, value}) =>
      <li><Torrent torrentName={key} torrentFile={value}/></li>
    )
  } -->
</ul>
